@charset "utf-8";
/* CSS Document */

/*Declaració de les fonts utilitzades, ubicades a la carpeta fonts*/
@font-face { 
    font-family: 'brutal';
    src: url('../fonts/BrutalType.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quick';
    src: url('../fonts/Quicksand-Bold.otf') format('opentype');
	font-weight: normal;
    font-style: bold;
}

/*fi header*/
/*contenidor principal video-nav*/
.main-containerQ{
	background-image: url("../images/fons1.png") ; 
	background-size:cover;
    background-repeat: no-repeat; 
	background-color: #f7c805;
	height: 600px;
	padding-top: 2%;
	display: -webkit-flex; /*Per a que siqui suportat per altres navegadors*/
	display: flex; /* Propietat que defineix l'element com a contenidor flexible i converteix els seus fills en elements flexibles*/
	-webkit-flex-direction: column;
	flex-direction: column; /*Indica la direcció a seguir dins del contenidor*/
	-webkit-justify-content: space-around; /**M - EDITAT**/
	justify-content: space-around; /**M - EDITAT**/
	}
	

/*fi contenidor principal*/
/*contenidor secundari*/
.bottom-sectionQ{
	background-color: white;
	display: -webkit-flex; /*Per a que siqui suportat per altres navegadors*/ /**M - EDITAT**/
	display: flex; /* Propietat que defineix l'element com a contenidor flexible i converteix els seus fills en elements flexibles*/ /**M - EDITAT**/
	-webkit-flex-direction: row; /**M - EDITAT**/
	flex-direction: row; /*Indica la direcció a seguir dins del contenidor*/ /**M - EDITAT**/
	-webkit-justify-content: space-between; /**M - EDITAT**/
	justify-content: space-between; /**M - EDITAT**/
	font-family: 'brutal'; /**M - EDITAT**/
	margin:10vh;
	}
	
.bottom-articleQ > p {
	font-size:1.2em;
	margin: 2vh 2vh 2vh 2vh;
    line-height:5vh;
	padding:1.5vh;
}



.bottom-articleQ1 > p{ /**M - EDITAT**/
	font-size:1.2em;
	margin: 2vh 2vh 2vh 2vh;
    line-height:5vh;
	padding:1.5vh;
}	


#nav_formQ {
	display: -webkit-flex; /*Per a que siqui suportat per altres navegadors*/ /**M - EDITAT**/
	display: flex; /* Propietat que defineix l'element com a contenidor flexible i converteix els seus fills en elements flexibles*/ /**M - EDITAT**/
	-webkit-flex-direction: column; /**M - EDITAT**/
	flex-direction: column; /*Indica la direcció a seguir dins del contenidor*/ /**M - EDITAT**/
	-webkit-justify-content: center; /**M - EDITAT**/
	justify-content: center; /**M - EDITAT**/

}

#nav_first_lineQ {
	display: -webkit-flex; 
	display: flex;
	-webkit-flex-flow: row; /*Fluxe dels elements del contenidor */
	flex-flow: row; /* Es defineix la direcció dels elements */
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#nav_second_lineQ{
	display: -webkit-flex; 
	display: flex;
	-webkit-flex-flow: row; /*Fluxe dels elements del contenidor */
	flex-flow: row; /* Es defineix la direcció dels elements */
	-webkit-justify-content: space-around; /*Propietat que indica que es deixi espai entre els elements*/
	justify-content: space-around;
}

.Q {

	padding:1%;
	align-self: center;
}
.Q {
	position:relative;
	top:0;
	padding:4px;
    transition: all .2s ease-in-out
}

.Q:hover{top:-4px;box-shadow:0 4px 3px #999; background: none;}




/*Caracteristiques dels elements que conté l'aside*/
p {
	text-justify: center;
	text-align: justify;
	line-height: 4vh;
}
